
 <footer class="footer">
   <div class="container">
     <div class="row">
       <div class="col-md-6">
         <p><%= t "footer.develop" %></p>
       </div>
       <div class="col-md-6">
         <p><%= t "footer.phone_contact" %></p>
         <p><%= t "footer.address_contact" %></p>
       </div>
     </div>
   </div>
 </footer>